# Collection Types:
- 1.List
- 2.Tuple
- 3.Set
- 4.Dictionary

# List:
## one of the Datastructure in python
## Data structure means to store, sort and search options
## It is common data structure in python, the items in a list are seaperated by comma and enclosed in[]
## List can store different data types(heterogeneous data)

In [2]:
## Example :
list1 = [1,2,3,4,5,6,7]
print(list1)
type(list1)

[1, 2, 3, 4, 5, 6, 7]

list

In [4]:
list2 = [1,2,3,4,5, "keerthan","gitam"] # heterogeneous
list2

[1, 2, 3, 4, 5, 'keerthan', 'gitam']

In [6]:
# Accessing list Elements
list1 = [1,2,3,4,5]
print(list1[0])
list1[-1]

1

5

In [8]:
list1 = [1,2,3,4,5]
list1[0]
list1[-1]
list1[-4]

2

In [9]:
list1 = [1,2,3,4,5]
list1[0:3]

[1, 2, 3]

In [16]:
list1 = [1,2,3,4,5]
print(list1[0:3])
print(list1[0:10:2])

[1, 2, 3]
[1, 3, 5]

In [11]:
list1 = [1,2,3,4,5]
list1[0:3]
list1[0:4:2]

[1, 3]

In [17]:
list1 = [1,2,3,4,5]
print(list1[2:])
list1[::2]

[3, 4, 5]

[1, 3, 5]

In [18]:
del list1[0]

In [19]:
list1

[2, 3, 4, 5]

In [20]:
# basic List operations
list1 = [1,2,3,4,5]
len(list1)

5

In [21]:
print(list1 *3)

[1, 2, 3, 4, 5, 1, 2, 3, 4, 5, 1, 2, 3, 4, 5]

In [22]:
5 in list1

True

In [23]:
7 in list1

False

In [24]:
7 not in list1

True

In [25]:
5 not in list1

False

In [26]:
# Accessing list elements with for loop
list1 = [1,2,3,4,5]
for i in range(len(list1)):
    print(i)

0
1
2
3
4

In [27]:
list1 = [1,2,3,4,5]
for i in range(len(list1)):
    print(list1[i])

1
2
3
4
5

In [28]:
for i in [1,2,3,4]:
    print(i,end=" ")

1 2 3 4

In [30]:
# Basic list functions
list1=[1,2,3,4,5]
print(max(list1))
print(min(list1))
print(sum(list1))
sum(list1)/len(list1)

5
1
15

3.0

In [34]:
# list methods: (Adds the element to the end of the list)
list1 = [1,2,3,4,5,6]
list1.append(7)
list1

[1, 2, 3, 4, 5, 6, 7]

In [35]:
# Adds the element at the specified index
list1 = [1,2,3,4,5,6]
list1.append(7)
list1.insert(3,8)
list1

[1, 2, 3, 8, 4, 5, 6, 7]

In [36]:
list1 = [1,2,3,4,5,6]
list1.append(7)
list1.insert(3,8)
list1.count(3)
list1

[1, 2, 3, 8, 4, 5, 6, 7]

In [37]:
list1.pop() # gives the last index value

7

In [38]:
list1.count(5) # count the repetition of a number

1

In [39]:
list1.pop(3)

8

In [40]:
list1

[1, 2, 3, 4, 5, 6]

In [41]:
list1
print(list1)
list1.index(3) # gives the index value

[1, 2, 3, 4, 5, 6]

2

In [42]:
list1.extend([1,2,3])

In [46]:
list1

[1, 2, 3, 4, 5, 6, 1, 2, 3, 2, 3, 4, 2, 3, 4]

In [47]:
print(list1)
list2 = [2,3,4]
list1.extend(list2)
list1

[1, 2, 3, 4, 5, 6, 1, 2, 3, 2, 3, 4, 2, 3, 4]

[1, 2, 3, 4, 5, 6, 1, 2, 3, 2, 3, 4, 2, 3, 4, 2, 3, 4]

In [48]:
li =[21,22,33,24]
print(li)
li.reverse() # prints all elements in reverse order
print(li)

[21, 22, 33, 24]
[24, 33, 22, 21]

In [49]:
li = [10,20,5,66,75,1]
li.sort() # sort the elements in small number to large number
li

[1, 5, 10, 20, 66, 75]

In [50]:
li[::-1]

[75, 66, 20, 10, 5, 1]

## Tuples

## Tuples are enclosed in paranthesis()
## Tuples are imutable i.e, we cannot modify the elements in the Tuple

## Different between list and Tuples:
## Tuples-->() and list-->[]
## list is mutable(can modify the data), but tuple is imutable(cannot modify)

In [51]:
tuple1 = (1,2,3,4)
print(tuple1)
type(tuple1)

(1, 2, 3, 4)

tuple

In [54]:
tuple2=(1,1.2,5,"sai")
print(tuple2)

(1, 1.2, 5, 'sai')

In [55]:
t1=(10,20,30,29)
t1[0:3]

(10, 20, 30)

In [59]:
t1=(10,20,30,29)
t1[::-2]

(29, 20)

## Dictionary:

## Enclosed in {}
## Dictionary consists of key and value pairs seaperated by colon(:)
## Each key and value pair is seaperated by comma(,)
## Key should be unique, values may repeat

In [60]:
# Example:
d1 = {"Name":"Gitam","Rollno.":29,"Address":"Hyd"}
d1

{'Name': 'Gitam', 'Rollno.': 29, 'Address': 'Hyd'}

In [66]:
d1["Name"]

'Gitam'

In [67]:
d1["Rollno."]

29

In [70]:
# Adding a new entry
d1["email"] = "email@gmail.com"
d1

{'Name': 'Gitam', 'Rollno.': 29, 'Address': 'Hyd', 'email': 'email@gmail.com'}

In [71]:
d1["Course"]= 'python'

In [72]:
d1

{'Name': 'Gitam',
 'Rollno.': 29,
 'Address': 'Hyd',
 'email': 'email@gmail.com',
 'Course': 'python'}

In [73]:
d1.keys()

dict_keys(['Name', 'Rollno.', 'Address', 'email', 'Course'])

In [74]:
d1.values()

dict_values(['Gitam', 29, 'Hyd', 'email@gmail.com', 'python'])

In [75]:
d1.items()

dict_items([('Name', 'Gitam'), ('Rollno.', 29), ('Address', 'Hyd'), ('email', 'email@gmail.com'), ('Course', 'python')])

In [76]:
del d1["Name"]

In [77]:
d1

{'Rollno.': 29,
 'Address': 'Hyd',
 'email': 'email@gmail.com',
 'Course': 'python'}

## 1) Function to find a factorial of a number
## Input :5  
## Output: 120

# 2) function to check for strong number or not
## Input: 145
## Output: strong number or not

In [15]:
def factorial(n):
    mul=1
    n=5
    while n!=0:
        r=n
        mul = mul*r
        n=n-1
    return mul
factorial(5)

120

In [16]:
def DigitalFactorSum(n):
    s=0
    buffer = n
    while n!= 0:
        r =n%10
        s = s +factorial(r)
        n =n//10
    if buffer ==s:
        print("strong number")
    else:
        print("not Strong number")
DigitalFactorSum(145)

not Strong number

# Strings:

In [2]:
s1="python"
print(s1)
type(s1)

python

str

In [3]:
# Accessing the first character
s1="python"
print(s1[0])
print(s1[-1])
print(s1[2:5])
s1[::2]

p
n
tho

'pto'

In [13]:
s1="python"
print(s1)
print(s1[1:])
print(s1[3:])
print(s1[:4])
print(s1[-2:])
print(s1[1:-1])
s1[0:5:2]

python
ython
hon
pyth
on
ytho

'pto'

In [18]:
str1="MOM"
print(str1)
print(str1[::-1])
if str1==str1[::-1]:
    print("palindrome")
else:
    print("not a palindrome")

MOM
MOM
palindrome

In [19]:
# built in Methods:
s1 = "python"
print(s1.upper())
print(s1.lower())

PYTHON
python

In [20]:
s1= "python"
s2="pyth123on"
s3 = "123"
print(s1. isnumeric())
print(s2.isnumeric())
print(s3.isnumeric())

False
False
True

In [23]:
s1= "python"
s2="pyth123on"
print(s1.isalpha())
print(s2.isalpha())

True
False

In [26]:
s1= "python"
print(" ".join(s1))
print(", ".join(s1))
print("@ ".join(s1))

p y t h o n
p, y, t, h, o, n
p@ y@ t@ h@ o@ n